.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .controler{
   
    color: rgba(0, 0, 0, 0);
    height: 8vh;
      width: 100%;
  background-color: rgb(0, 0, 0);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
  }
  .slider{
    
    height: 90%;
    border-radius: 7px;
  cursor: pointer;
    width: 180px;
    gap: 10px;
    display: flex;
    align-items: center;
    
    justify-content: center;
    flex-direction: row;
  transition: all .5s;}

    

.black{
    height: 100px;
    background-color: aqua;
}
    .slider div{
        
        color: aliceblue;
width: auto;
height: 100%;
display: flex;
justify-content: flex-start;
align-items: center;

    }

    .img1{
      transform: scale(0.7);
      
      }